## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. List popular languages for Data Science.
2. List commonly libraries used by data scientists.
3. Show how python works in jupyter notebook.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools  |
|----------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
round(hours,2)

3.33

## Author : Aiden